@import "tailwindcss";

.card {
  @apply bg-slate-900 rounded-md border-slate-950 border-2 p-5 w-fit flex flex-col
}

.card-headline {
  @apply mt-3 text-2xl font-bold
}

.btn {
  @apply px-5 py-3 bg-slate-950 w-fit cursor-pointer rounded-sm
}

.inline-btn {
  @apply bg-slate-900 px-3 py-2 rounded-sm cursor-pointer
}

#nav-drawer {
  transform: translateX(-100%);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#nav-drawer-toggle:checked ~ #nav-drawer {
  transform: translateX(0) !important;
}

#nav-drawer-toggle:checked ~ #nav-drawer-overlay {
  opacity: 1;
  pointer-events: auto;
}
